header{
    background-color: #eb1a15;
    height: 200px;
    width: 1100px;
}
article{
    background-color: #c1c1c1;
    height: 700px;
}
aside{
    background-color: #00ae4b;
    height: 900px;
    width: 100%;
}
footer{
    background-color: #b57952;
    width: 100%;
    height: 150px;
}
main{
    display: flex;
}
