header{
    background-color: red;
    height: 200px;
    width: 1100px;
}
article{
    background-color: gray;
    height: 700px;
}
aside{
    background-color: green;
    height: 900px;
    width: 600px;
}
footer{
    background-color: rgb(109, 74, 53);
    width: 100%;
    height: 150px;
}
main{
    display: flex;
}